*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(/style/img/signbr.png) ;
    background-repeat: no-repeat ;
    background-size: 100%;
}
.sign-in{
    display: inline-block;
    border-radius: 12px ;
    height: 500px;
    width: 400px;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px) ;
    border: 1px solid #ffffff ;
}
.input-box input:focus~label,
.input-box input:valid~label {
    bottom: 25px;
}
.input-box{
    position: relative;
    height: 60px;
    width: 70%;
    right: -55px;
    border-bottom: 1px solid #ffffffff ;
}
.input-box label{
    color: #ffffff;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    display: inline-block;
    font-size: 15px;
    bottom: 6px;
    left: 13px;
    pointer-events: none;
    transition: 0.35s;
}
.sign-in h1{
    width: 100%;
    margin: 0%;
    border-top-left-radius:12px ;
    border-top-right-radius:12px  ;
    color: #ffffff;
    height: 52px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    width: 70%;
    height: 20px;
    width: 90%;
    margin-top:35px ;
    margin-right: 0px;
}
.sign-in i{
    color: #ffffff;
    margin: 10px 0px;
}
.footerdown{
    background-color:#BA4A00   ;
    display: flex;
    height: 340px;
    width: 100%;
}
.footerdown div b{
    color: #ffffffff;
    display: block;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerdown div a{
    color: #ffff;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 10px 0px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerdown div{
    margin-top:20px ;
    margin-right: 200px ;
}
.sign-in .ngang{
    height: 1px;
    width: 70%;
    background-color: #ffffffff;
    margin-left: 15%;
}
.sign-in button{
    margin: 20px 0px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #9CFF33;
    font-size: 17px;
    cursor: pointer;
}
.sign-in button:hover{
    background-color: #33FF86;
    color: #ffffff;
}
.sign-in div a{
    color: #ffffffff;
    text-decoration: none;
    cursor: pointer;
}
.sign-in div a:hover{
    color: #33FF86;
}
#eye{
    color: #ffffffff;
    position: absolute;
    right: 3px;
    bottom: -6px;
    cursor:pointer ;
}
#eye1{
    color: #ffffffff;
    position: absolute;
    right: 3px;
    bottom: -6px;
    cursor:pointer ;
}
#chabao{
    width: 410px;
    height: 510px;
    overflow: hidden;
    display: flex;
    margin: auto;
    margin-top: 100px;
}
#bao{
    transition: transform .18s ease ;
    display: flex;
}
#bao div{
    margin-left: 4px;
}